/* Registration button */
.Btn-Go-Reg {
    font-weight: bold;
    border-radius: 40px;
    color: #000000;
    height: 34px;
    font-size: 15px;
    padding: 2px;
    text-decoration: none;
    width: 102px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
    border: none;
    background-color: white;
    transition: all 0.3s ease;
}

/* Button hover effect */
.Btn-Go-Reg:hover {
    background-color: transparent;
    color: rgba(20, 168, 236, 0.603);
}

.Btn-Go-Reg .Btn-Go-Reg-span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background 0.3s ease;
}

/* Navigation links styling */
.Nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    text-decoration: none;
    /* Removes default underline */
}

/* Hover effect on links */
.Nav-link:hover {
    color: rgba(20,168,236,0.603);
    transform: scale(1.1);
}

/* Underline effect on hover */
.Nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Places the line under the text */
    width: 0;
    height: 2px;
    background-color:rgba(20,168,236,0.603);
    /* Line color */
    transition: width 0.3s ease;
}

/* Expands the underline when hovering */
.Nav-link:hover::after {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .navbar-nav {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .navbar-nav .nav-item {
        white-space: nowrap;
    }

    .dropdown button {
        font-size: 14px;
        padding: 5px 10px;
    }

    .rounded-circle {
        width: 30px !important;
        height: 30px !important;
    }

    .Btn-Go-Reg {
        font-size: 14px;
        padding: 5px 10px;
    }
}