/* General Styles */
.input-group {
    border: 1px solid rgb(141, 140, 140);
    border-radius: 5px;
}

/* Buttons */
.btn-submit {
    background: linear-gradient(90deg, #017276 0%, #80DFDF 100%);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.btn-submit:hover {
    background: linear-gradient(90deg, #025559 0%, #60CACA 100%);
}

/* Sidebar */
.sidebar {
    background: linear-gradient(180deg, #025559 0%, #017276 20%, #80DFDF 100%);
    border-radius: 0px 100px 100px 0px;
    color: white;
    padding: 118px;
}

.sidebar h2 {
    margin: 100px 0px 200px 0px;
    font-weight: bold;
}

/* Links */
.login-link {
    font-size: 12px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s;
}

.login-link:hover {
    color: #017276;
}

/* Radio Buttons */
.radio {
    border: 1px solid rgb(117, 112, 112);
    border-radius: 5px;
    padding: 5px;
}