.page-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  position: relative;
  z-index: 0;
}

.container-form {
  position: relative;
  width: 900px;
  height: 610px;
  background: #fff;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
}

.form-r-l {
  width: 85%;
  height: 117%;
}
@media screen and (max-width: 696px) {
  .form-r-l {
    height: 134%;
  }
}

.container h1 {
  font-size: 36px;
  margin: -10px 0;
}

.input-box {
  position: relative;
  margin: 10px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.forget-link {
  margin: 0 0 15px;
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}

.btn-blue {
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #017276 0%, #80dfdf 100%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  color: black;
}

.date_of_birth {
  padding-right: 8% !important;
  font-size: 14px !important ;
}

.password {
  padding-right: 14% !important;
}

@media screen and (max-width: 696px) {
  .container-form {
    height: calc(100vh - 40px);
  }

  .form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .login {
    height: 68%;
  }
  .input-box i {
    right: 10%;
  }
}

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
}

.react-tooltip {
  background-color: #dc3545 !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 10px !important;
  z-index: 9999 !important;
  max-width: 220px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
  font-size: 12px !important ;
}

/* .is-valid {
    border: 2px solid #28a745 !important;
} */

.is-invalid {
  border: 2px solid #dc3545 !important;
}

.terms-checkbox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.terms-label {
  font-size: 0.9rem;
  color: #333;
  user-select: none;
}

.terms-link {
  font-weight: 600;
}
input[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    padding: 7px;
    border-radius: 1.25em !important;
  }
  
.swal-wide {
    width: 650px !important;
    max-width: 90vw !important;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
  }
  