.container-page{
    background: #82E0E0;
    height: 500px;
}
.title{
    margin-left:120px;

}
.title h1{
    font-weight: bold;
}

.container-img{
    position: relative;
}
#Image2 {
    position: absolute;
    right: 83%;
    top: 6% ;
}

#Image1{
    height: 100%;
}

@media (max-width: 483px) {
    .container-page img {
        display: none;
    }

        .title {
            margin-left: 0px;
    
        }
}

@media  (min-width: 484px) and (max-width: 1024px){

    .container-page {
            height: 350px;
        }
                .title {
                    margin-left: 60px;
        
                }
    .title h1 {
            font-size: 25px;
        }

    #Image2 {
            width: 25%;
        }
}