.page-form-Settings {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container-form-Settings{
    width: 500px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}


.hidden-file-input {
    display: none;
}

.custom-upload-button {
    display: inline-block;
    background-color: #ffffff;
    color: #283C46;
    padding: 2px 5px;
    border: solid 1px rgb(236, 231, 231);
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background 0.3s;
}

.custom-upload-button:hover {
    background-color: #dbdbdb;
}

.input-Name{
    width: 340px;
}
.Save-Button{
    width: 340px;
}