.hidden-file-input {
    display: none;
}

.custom-upload-button {
    display: inline-block;
    background-color: #ffffff;
    color: #283C46;
    padding: 2px 5px;
    border: solid 1px rgb(236, 231, 231);
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background 0.3s;
}

.custom-upload-button:hover {
    background-color: #0056b3;
}