/* أنماط عامة */
.input-group {
    border: 1px solid rgb(141, 140, 140);
    border-radius: 0px;
}

/* الأزرار */
.btn-submit {
    background: linear-gradient(90deg, #017276 0%, #80DFDF 100%);
    border: none;
    border-radius: 0px;
    font-weight: bold;
    color: white;
    width: 100%;
}

/* الشريط الجانبي */
.sidebar {
    background: linear-gradient(180deg, #025559 0%, #017276 20%, #80DFDF 100%);
    border-radius: 0px 100px 100px 0px;
    width: 300px;
    color: white;
    text-align: center;
    height: 520px;
}

.sidebar h2 {
    margin: 100px 0px 200px 0px;
    font-weight: bold;
}

/* النموذج */
.form-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* الروابط */
.login-link {
    font-size: 10px;
    color: #212121;
    text-decoration: none;
}

.radio{
        border: 1px solid rgb(117, 112, 112);
}